<!DOCTYPE html>
<html>
  <head>
    <title>TAMUber</title>
    <%= csrf_meta_tags %>
    <!--<%= stylesheet_link_tag    'homepage', media: 'all', 'data-turbolinks-track': 'reload' %>-->
    <%= javascript_include_tag '/TamUber/app/assets/javascripts/home.js'%>
    <!--<script src = "/TamUber/app/assets/javascripts/home.js"></script>-->
    <%= render 'shared/shim' %>
  </head>
  <body>
  
<div class="center jumbotron">
  <h1>Welcome to TamUber Safety Driver Interface</h1>

<!--  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>-->
</div>
