<!DOCTYPE html>
<html>
  <head>
    <title>TAMUber</title>
    <%= csrf_meta_tags %>
    <!--<%= stylesheet_link_tag    'homepage', media: 'all', 'data-turbolinks-track': 'reload' %>-->
    <%= javascript_include_tag '/TamUber/app/assets/javascripts/home.js': 'reload' %>
    <!--<script src = "/TamUber/app/assets/javascripts/home.js"></script>-->
    <%= render 'shared/shim' %>
  </head>
  <body>
  
<div class="center jumbotron">
  <h1>Welcome to TamUber Safety Driver Interface</h1>

<!--  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>-->
</div>

<body>
<div class="container">
	<section id="content">
		<form action="">
			<h1>Login Form</h1>
			<div>
				<input type="text" placeholder="Username" required="" id="username" />
			</div>
			<div>
				<input type="password" placeholder="Password" required="" id="password" />
			</div>
			<div>
				<input type="submit" value="Log in" />
				<a href="#">Lost your password?</a>
				<a href="#">Register</a>
			</div>
		</form><!-- form -->
		<div class="button">
			<a href="#">Download source file</a>
		</div><!-- button -->
	</section><!-- content -->
</div><!-- container -->
</body>