<% provide(:title, @user.firstname) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h2>
        <!--Weather Data in College Station-->
        <!--<%= gravatar_for @user %>-->
        <!--<%= @user.firstname %>-->
      </h2>
    </section>
  </aside>
</div>

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
     /*       */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      h1
      {
          font-family: "Times New Roman";
          display: inline;
          color: black;
          font-weight: bold;
          text-align: left;
          font-size: 2.5em;   
      }
      h2
      {
        font-family: "Times New Roman";
        background: #590000;
        color: white;
      }
      
      h3
      {
        font-family: "Times New Roman";
        background: #590000;
        color: white;
      }
      
      table, td, tr, th {
        /*border: 2px solid black;*/
        margin-top: 15px;
        text-align: left;
        vertical-align: center;
        padding: 5px
        /*font-size: 50px;*/
        font-family: "Times New Roman";
      }
      
      td{
        font-size: 14px;
      }
      
      .container,top{
        /*position: absolute;*/
        /*width: 100%;*/
        /*height: 200px;*/
        /*z-index: 15;*/
        /*top: 50%;*/
        /*left: 50%;*/
        /*margin: -100px 0 0 -150px;*/
        /*background-color: red;*/
      }
      
      #dash {
        float: right;
        width:40%;
      }
      
      #dashboard {
        float: right;
        width:40%;
      }
      
      
      #contactform {
        float: left;
        width:40%;
      }
      
      #ride {
        margin-top = 200px;
        padding = 10px;
      }
      
      .float {
        height:100%; margin:5; padding:0;
      }
      .left {
        /*margin-left: 80px;*/
        float: left; width:40%;
        margin-bottom: 10px;
      }
      .right {
        /*margin-right: 80px;*/
        text-align: right;
        float:right; width:40%;
        position: relative;
      }
      
    </style>
  </head>
  <body>

  

  <div class="top" align="center">
    
    <a class="weatherwidget-io" href="https://forecast7.com/en/40d71n74d01/new-york/" data-label_1="NEW YORK" data-label_2="WEATHER" data-theme="original" >NEW YORK WEATHER</a>
    <div id="weather" class="left">
      <h2> Weather Data for College Station </h2>
      <table id="weather_results"></table>
    </div>
    
    <div>
      <h2 id="dash"> Dashboard</h2>
      <table class="table table-striped" id="dashboard">
        <tr>
          <td> Tire Pressure</td>
          <td id="tire_pressure" ><%= @vehicle_stats.tire_pressure =%></td>
        </tr>
        <tr>
          <td>Battery Level</td>
          <td id="battery_level"><%= @vehicle_stats.battery_level %></td>
        </tr>
        <tr>
          <td>Lidar Status</td>
          <td id="lidar_status"><%= @vehicle_stats.lidar_status %></td>
        </tr>
      </table>
    </div>
  </div>


    <!--<hr>-->
	  <div class="right" id="ride">
      <h2> Ride Information</h2>
      <table class="table table-striped">
        <tr>
          <td> Student Name</td>
          <td> Pickup </td>
          <td> Destination </td>
        </tr>
        
        <tr>
          <td> Alice </td>
          <td> ETB </td>
          <td> HRBB </td>
        </tr>
        <tr>
          <td> Bob </td>
          <td> MEOB </td>
          <td> MSC </td>
        </tr>
        <tr>
          <td> Mary </td>
          <td> WEB </td>
          <td> Evans </td>
        </tr>
      </table>
    </div>

  <div class="top" align="center">
    <hr class="left">
      <div>
        <div class="col-md-12">
          <form id="contactform" role="form" action="#" method="POST">
            <div class="form-group">
              <h2>Emergency Call</h2>
            </div>
            <label>Your number</label>
             <div class="form-group">
                 <input class="form-control" type="text" name="userPhone" id="userPhone"
                        placeholder="(651) 555-7889">
             </div>
             <label>Emergency number</label>
             <div class="form-group">
                 <input class="form-control" type="text" name="salesPhone" id="salesPhone"
                        placeholder="(651) 555-7889">
             </div>
            <button type="Call Emergency!!" class="btn btn-default">Contact Emergency</button>
          </form>
        </div>
      </div>
    

	</div><!-- /page -->
	
	<script>
!function(d,s,id)
{
  var js,fjs=d.getElementsByTagName(s)[0];
  if(!d.getElementById(id))
    {js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);
      
    }
  
}(document,'script','weatherwidget-io-js');
</script>
	
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
  jQuery(document).ready(function(){
  console.log("Ready!");
  function update_values(){
      $('#tire_pressure').html("<%= j (@vehicle_stats.tire_pressure) %>");
      $('#battery_level').html("<%= j (@vehicle_stats.battery_level) %>");
      $('#lidar_status').html("<%= j (@vehicle_stats.lidar_status) %>");
      setTimeout(update_values,5000);
    };
    $(document).ready(function(){
      setTimeout(update_values,5000);
    });
  });
  </script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
    // api key for darksky
    var apikey = "Put the KEY from Google Doc here"
    var lat = "30.6280"
    var long = "-96.3345"
    jQuery(document).ready(function(){
    console.log("Ready!");
    weatherFunction();  // when the page has loaded, run weatherFunction
    $('#weather_results').show();
  });
  function weatherFunction(){
    // Create a request variable and assign a new XMLHttpRequest object to it.
    var url1 = "https://api.darksky.net/forecast/"
// IMPORTANT! UNCOMMENT FOR API TO WORK
    var html = '';
    var html2 = '';
    // test data stub
    var data = {
      daily: {
          summary: "Rain tomorrow and Monday, with high temperatures falling to 50F"
        
      },
      currently:{
          temperature: 85,
          visibility: 10,
          windSpeed: 3.78,
          precipIntensity: 0.22,
          precipProbability: 0.45,
          humidity: 0.24
      }
    }
    // IF YOU WANT TO USE API, COMMENT THIS OUT; ELSE uncomment this out
    // *************************Test Stub*******************
    html2 += '<table class="table table-striped"><tr><th>Temperature(Farenheit)</th><td>' + data.currently.temperature + '</th></td></tr>'
        + '<tr><th>Humidity</th><td>' + data.currently.humidity + '</td><tr>'
        + '<tr><th>Probability of Rain(%)</th><td>' + data.currently.precipProbability * 100 + ' %' + '</td></tr>'
        + '<tr><th>Intensity of Rain</th><td>' + data.currently.precipIntensity + '</td></tr>'
        + '<tr><th>Visibility</th><td>' + data.currently.visibility + '</td></tr>'
        + '<tr><th>WindSpeed</th><td>' + data.currently.windSpeed + '</td></tr>'
        + '<tr><th>Summary</th><td>' + data.daily.summary +'</td></tr></table>';
    $('#weather_results').append(html2);

    // ******************************************************
    // IF YOU WANT TO USE API, UNCOMMENT THIS OUT; ELSE comment this out
    // *************************API*******************
    // $.ajax({
    //     type: "GET",
    //     url: url1+apikey+"/"+lat+","+long,
    //     contentType: "application/json",
    //     success: function(data)
    //     {
    //       console.log(data);
    //       html += '<table class="table table-striped"><tr><th>Temperature(Farenheit)</th><td>' + data.currently.temperature + '</th></td>'
    //           + '<tr><th>Humidity</th><td>' + data.currently.humidity + '</td>'
    //           + '<tr><th>Probability of Rain(%)</th><td>' + data.currently.precipProbability * 100 + ' %' + '</td>'
    //           + '<tr><th>Intensity of Rain</th><td>' + data.currently.precipIntensity + '</td>'
    //           + '<tr><th>Visibility</th><td>' + data.currently.visibility + '</td>'
    //           + '<tr><th>WindSpeed</th><td>' + data.currently.windSpeed + '</td>'
    //           + '<tr><th>Summary</th><td>' + data.daily.summary +'</td></tr></table>';
    //       $('#weather_results').append(html);
    //     }
    //   });
    // ******************************************************
  };

  </script>


    
</body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>